<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zq.learn.fileuploader.persistence.dao.FileImportExecutionMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zq.learn.fileuploader.persistence.model.FileImportExecution">
		<id column="id" property="id" />
		<result column="file_key" property="fileKey" />
		<result column="job_start_time" property="jobStartTime" />
		<result column="job_end_time" property="jobEndTime" />
		<result column="read_count" property="readCount" />
		<result column="write_count" property="writeCount" />
		<result column="filter_count" property="filterCount" />
		<result column="skip_count" property="skipCount" />
		<result column="failed_message" property="failedMessage" />
		<result column="filtered_message" property="filteredMessage" />
		<result column="status" property="status" />
		<result column="update_time" property="updateTime" />
	</resultMap>

</mapper>
