<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/css/bootstrap.min.css"
          rel="stylesheet" type="text/css" />
    <link href="/static/css/font-awesome.min.css"
          rel="stylesheet" type="text/css" />
    <style>
        .panel-body{
            height: 500px;
            overflow: auto;
        }
    </style>
</head>
<body>

<h1>文件上传结果</h1>

<div th:if="${res.code == 'OK'}">
    <input id="group" th:value="${res.result.group}" hidden="hidden"/>
    <ul id="normal">
        <li th:each="entry : ${res.result.normalFiles}">
            <div th:id="${entry.value}">
                <label th:text="${'文件(' + entry.key + '),key=' + entry.value}">文件名:</label>
                <div style="margin-left: 30px;">
                    <label>上传进度-</label>
                    <label>读取记录数:<span role="curCount">*</span></label>
                    <label>过滤记录数:<span role="filterCount">*</span></label>
                    <label>写入录数:<span role="writeCount">*</span></label>
                    <span role="status" style="margin-left: 5px;">
                        <img style="width: 15px;" src="/static/images/loading.gif" alt="加载中" />
                    </span>
                </div>
                <div class="panel panel-default" role="filterRecords" style="display: none;">
                    <div class="panel-heading">过滤记录信息</div>
                    <div class="panel-body">
                    </div>
                </div>
                <div class="panel panel-danger" role="exceptionInfo" style="display: none;">
                    <div class="panel-heading">异常信息</div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div id="summary" style="display: none;">文件上传总耗时:<span id="totalConsume"></span></div>
</div>

<script type="application/javascript" src="/static/js/jquery.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function(){
        queryUploadProgress($('#group').val());

        function queryUploadProgress(groupKey){
            $.get("/uploadProgress/" + groupKey,function(data){
                var complete = false;
                if(data) {
                    if(data.status == 'Complete'){
                        complete = true;
                    }
                    var filesProcessResult = data.filesProcessResult;
                    dealProcessResult(filesProcessResult);
                }

                if(!complete){
                    window.setTimeout(function(){
                        queryUploadProgress(groupKey);
                    },1000);
                }else{
                    $('#summary').show();
                    $('#totalConsume').text(parseMill(data.timeConsume));
                }
            });
        }
    });

    function dealProcessResult(filesProcessResult){
        for(var fileKey in filesProcessResult){
            var $fileInfo = $('#' + fileKey);
            var fileProcess = filesProcessResult[fileKey];

            if(fileProcess.readCount != null){
                $fileInfo.find('[role="curCount"]').text(fileProcess.readCount);
            }

            if(fileProcess.filterCount != null){
                $fileInfo.find('[role="filterCount"]').text(fileProcess.filterCount);
            }

            if(fileProcess.writeCount != null){
                $fileInfo.find('[role="writeCount"]').text(fileProcess.writeCount);
            }

            if(fileProcess.filterRecords && fileProcess.filterRecords.length > 0){
                var filterRecords = [];
                $.each(fileProcess.filterRecords,function(i,filterRecord){
                    if(i >= 150){
                        filterRecords.push('<p>...</p>');
                        return false;
                    }
                    var record = ['<p>',(i + 1),'、'];
                    var info = JSON.parse(filterRecord);
                    $.each(info.keyValueList,function(i,keyValue){
                        record.push(keyValue.key + '=' + keyValue.value + ', ');
                    });
                    record.push('</p>');
                    filterRecords.push(record.join(''));
                });

                $fileInfo.find('[role="filterRecords"]').show().find(".panel-body").html(filterRecords.join('')).show();
            }

            if(fileProcess.error){
                var exceptionList = [];
                $.each(fileProcess.errorMsgList,function(i,errorInfo){
                    exceptionList.push('<p>'+(i + 1) + '、' + errorInfo + '</p>');
                });

                $fileInfo.find('[role="exceptionInfo"]').show().find(".panel-body").html(exceptionList.join('')).show();
            }

            if(fileProcess.status == 'Complete'){
                $fileInfo.find('[role="status"]').html('<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: #286090"></span>');
            }else if(fileProcess.status == 'Failed'){
                $fileInfo.find('[role="status"]').html('<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: #ff4a54"></span>');
            }
        }
    }

    function parseMill(mill){

         if(!mill){
             return '-';
         }

         if(mill < 1000){
             return mill + '毫秒';
         }else if(mill < 60 * 1000){
             return mill / 1000 + '秒';
         }else if(mill < 3600 * 1000){
             return mill / (60 * 1000) + '分钟';
         }else{
             return mill / (3600 * 1000) + '小时'
         }
    }
    /*]]>*/
</script>
</body>
</html>